<!-- 
<div class="auth-page-wrapper">
<div class="auth-heading">Login</div>
</div> -->

<!-- <section id="login-page" class="auth"> -->
    <form id="login">
      <!-- <div class="container"> -->
  
        <h1 class="auth-heading">Login</h1>
        
         <!-- <div class="error-msg"></div> -->
         
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
        <label for="login-pass">Password:</label>
        <input type="password" id="login-password" name="password" />
        <button type="submit" id="submit-button" class="btn-submit" value="Login"> Login</button>
        <p class="field">
          <!-- <span> -->
               <a routerLink="/register">Sign in</a>
            <!-- <a @click=${(event) => redirect(event)} href="/register"
              >here</a -->
           <!-- </span -->
          >
        </p>
      <!-- </div> -->
    </form>
  <!-- </section> -->