<!-- <div class="auth-page-wrapper">
    <div class="auth-heading">Register</div>
    </div> -->



    <!-- <section id="login-page" class="auth"> -->
        <form id="register">
            <!-- <div class="container"> -->
        
              <h1 class="auth-heading">Register</h1>
              
               <!-- <div class="error-msg"></div> -->
               
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" />
              <label for="login-pass">Password:</label>
              <input type="password" id="login-password" name="password" />
              <label for="login-repass">Repeat Password:</label>
              <input type="password" id="login-repassword" name="repass" />
              <button type="submit" id="submit-button" class="btn-submit" value="Register"> Register</button>
              <p class="field">
                <!-- <span> -->
                     <a routerLink="/login">Sign up</a>
                  <!-- <a @click=${(event) => redirect(event)} href="/register"
                    >here</a -->
                 <!-- </span -->
                >
              </p>
            <!-- </div> -->
          </form>
        <!-- </section> -->