<div class="auth-page-wrapper">
    <div class="auth-heading">My recipes</div>
    <div class="recipe-wrapper" *ngIf="recipeList; else Loading">
       
       <app-recipe-list-item class="flex" *ngFor="let recipe of recipeList" [recipe]="recipe"></app-recipe-list-item>
        
      <div class="no-recipes" *ngIf="recipeList.length === 0">
        <p class="no-recipes-text">No recipes!! Let's go <a routerLink="/create" >create </a> your first recipe.</p>
        </div>
      </div>
    
      <app-recipe-list-item></app-recipe-list-item>
    </div>


  
      
    
         
    
      <ng-template #Loading>
        <mat-spinner class="spinner"></mat-spinner>

    </ng-template>


    <!-- <div *ngIf="!recipeListLimited">
          Loading...
        </div> --> 