<div class="all-page-wrapper" >
    <div class="all-heading">All Recipes</div>
    <form #form="ngForm" (submit)="search(form.value)">
      <!-- <h1 class="auth-heading">Search</h1> -->
  <label for="username">Search for recipe</label>
      <input  [defaultValue]="''" type="text" id="search" name="search" ngModel />
      <button  type="submit" id="submit-button" class="btn-submit" value="Submit"> Search</button>
    </form>
   
    <app-recipe-list *ngIf="!searched"></app-recipe-list> 
    <app-recipe-search-list *ngIf="searched"></app-recipe-search-list>

   

    </div>
    <div   class="spacer"></div>



