.recipe-wrapper{
    display: flex;
 
    justify-content: center;
    flex-wrap: wrap;
    .display-content{
        margin-right: 30px;
    }
    .flex{
        flex-basis: 30%;
        
    }
}
.spinner{
    color: grey;
  
   height: 5px;
   margin: 0 auto;
}

.not-found-wrapper{
    background: #000000bd;
    
    width: 60%;
   
    height: 216px;
    border: solid grey 2px;
    border-radius: 10px;
    margin: 45px;

  }
  .not-found{
    padding: 18px;
  }
  .not-found>div {
    font-size: 3.5rem;
    color: white;
    margin-top: 100px;
    margin-right: 10px;
  }

  .not-found-text{
 
    font-size: 1.5em;
    text-align: center;
    color: white;
    
  }
.reset{
  
    color: rgb(72, 174, 72);
}
.reset:hover{
  cursor: pointer;
}
@media only screen and (max-width: 850px){

  .not-found-wrapper{
      width:80%;
      height: 150px;
  }
  .not-found-text{
      font-size: 1rem;
  }
  }