<!-- <p>create-page works!</p>
<section
    id="create-page"
    class="auth"
  >
<form  id="create">
  <h1 class="create-heading">Create Offer</h1>

    <div class="container">
      <label for="leg-title"
        >Offer title: <span class="red-star"> *</span></label
      >
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Enter offer title..."
      />
      <label for="manufacturer"
        >Manufacture: <span class="red-star"> *</span></label
      >
      <input
        type="text"
        id="manufacturer"
        name="manufacturer"
        placeholder="Enter item manufacture..."
      />

      <label for="offer-img">Image:</label>
      <input
        type="text"
        id="img"
        name="img"
        placeholder="Upload image url here..."
      />
      <label for="description"
        >Description: <span class="red-star"> *</span></label
      >
      <textarea name="description" id="description"></textarea>
      <input class="btn submit" type="submit" value="Create Offer" />
    </div>
  </form>
</section> -->


<form #createForm="ngForm" id="create" (ngSubmit)="onSubmit()">
  <!-- <div class="container"> -->

    <h1 class="create-heading">Create Recipe</h1>
    
     <!-- <div class="error-msg"></div> -->
     
    <label for="recipeName">Recipe title<span class="red-star">*</span></label>

    <ng-container *ngIf="recipeName.touched && recipeName.invalid">
      <div *ngIf="recipeName.errors?.['required']" class="error-msg">
        Recipe title is required!
      </div>
      <div *ngIf="recipeName.errors?.['minlength']" class="error-msg">
        Recipe title must be at least 5 characters long!
      </div>
    </ng-container>

    <input #recipeName="ngModel" type="text" id="recipeName" name="recipeName" ngModel  required minlength="5" placeholder="Chicken with BBQ Souse" />
  

    <label for="img">Image</label>
    <input
      type="text"
      id="img"
      name="img"
      ngModel
      placeholder="Upload image url here..."
    />
    <!-- Ingredients -->
    <label for="ingredients">Ingredients<span class="red-star">*</span></label>

    <ng-container *ngIf="ingredients.touched && ingredients.invalid">
      <div *ngIf="ingredients.errors?.['required']" class="error-msg">
        Ingredients are required!
      </div>
      <div *ngIf="ingredients.errors?.['minlength']" class="error-msg">
       Ingredients must be at least 18 characters long!
      </div>
    </ng-container>
  
        <textarea #ingredients="ngModel" name="ingredients" ngModel required minlength="18" id="ingredients" placeholder="salt 10g, black peper 15g..."></textarea>
   
        <!-- Preparation -->
    <label for="preparation:">Preparation<span class="red-star">*</span></label>
   
    <ng-container *ngIf="preparation.touched && preparation.invalid">
   
      <div *ngIf="preparation.errors?.['required']" class="error-msg">
        Preparation is required!
      </div>
      <div *ngIf="preparation.errors?.['minlength']" class="error-msg">
        Preparation must be at least 20 characters long!
      </div>
    </ng-container>

    <textarea #preparation="ngModel" name="preparation" ngModel required minlength="20" id="preparation" placeholder="1.Wash and cut mashrooms.."></textarea>

    <!-- [disabled]="createForm.invalid" -->
    <button [disabled]="createForm.invalid"    type="submit" id="submit-button" class="btn-submit" value="Create">Create new recipe</button>
    <p class="field">
      <!-- <span> -->
      
        <!-- <a @click=${(event) => redirect(event)} href="/register"
          >here</a -->
       <!-- </span -->
      <!-- > -->
    </p>
  <!-- </div> -->
</form>

<!-- <div class="spacer"></div> -->