* {
    margin: 0;
    padding: 0;
    border: 0;
  }
.display-content{
    position: relative;
    width: 380px;
    height: 350px;
  background-color: #80808091;
    border-radius: 50px;
    padding: 4px;
margin-top: 50px;
    margin-bottom: 50px;
  
      margin: 30px;
    }

    #image-title{
      background: #34353578;
      margin: 162px 4px 162px 4px;
      border-radius: 0%;
    }
.display-content img{
    position: relative;

    width: 380px;
    height: 350px;
    background: #8080804b;
   
    border-radius: 50px;
}
.display-content:hover .img-details {
    visibility: visible;
    opacity: 1;
    box-shadow: 2px 2px 45px 10px #808080ae;
 
 
}
.display-content:hover .img-title{
  visibility: hidden;
  opacity: 0;


}


.img-details{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(74, 76, 77, 0.664);
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  border-radius: 50px;
  font-size: 1.5em;
  text-transform:uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .8s, visibility .8s;
  text-decoration: none;

}
.img-title{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: rgb(255, 255, 255);


  opacity: 1;
  border-radius: 50px;
  font-size: 1.5em;
  text-transform:uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .8s, visibility .8s;
  text-decoration: none;
}
@media only screen and (max-width: 430px){

  #image-title{
    margin: 124px 4px 124px 4px;
  }
  .display-content{
      width: 290px;
height: 270px;
  }
  .display-content img{
    width: 290px;
    height: 270px;
  }

  }

