


  <header>
    <nav class="navbar">
   
    <div class='brand-title'>
        <a routerLink="/" class="home">Home</a>
        <a  class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    </div>
    <div *ngIf="userInfo" class="navbar-links">
   
        <ul>
            <li class="user" >
                <!-- <span id="welcome"></span> -->
               <a class="profile" routerLink="/profile"> Welcome,[ {{userInfo}}  ]</a>  
                
               
            </li>
            <li> <a class="home" id="second-home" routerLink="/">Home</a></li>

            <li><a routerLink="/recipes" class='all-offers-btn'>All Recipes</a></li>
            <li class="user"><a routerLink="/create">Create Recipe</a></li>
            <li class="user"><a routerLink="/my-recipes">My Recipes</a></li>
         
            <li class="user"><a class="logout" (click)="logoutHandler()" href="javascript:void(0)">Logout</a></li>
        
        </ul>
    </div> 
    
    <div *ngIf="!userInfo" class="navbar-links">
     
      <ul>
         
          <li> <a routerLink="/" class="home" id="second-home">Home</a> </li>

          <li><a routerLink="/recipes" class='all-offers-btn'>All Recipes</a></li>
        
          <li class="guest"><a routerLink="/login">Login</a></li>
          <li class="guest"><a routerLink="/register">Register</a></li>
      
      
      </ul>
  </div>    
    </nav>
</header>

