<!-- <header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">SoftUni Forum</span></p>
      </div>
      <div class="mini-navbar" >
        <ul>
          <li>
            <a routerLink="/login" >Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
      <div class="mini-navbar" >
         <div>HELLO, [username]@localdomain.com</div>
        <a (click)="logoutHandler()">Logout</a> -->
        <!-- <ul>
          <li>
            <a routerLink="/profile" >John's profile</a>
          </li>
          <li> -->
            <!-- <a >Logout</a> (click)="logoutHandler()" -->
          <!-- </li>
        </ul>
  
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/themes">Themes</a>
        </li>
        <li>
          <a routerLink="/themes/new">New Theme</a>
        </li>
      </ul>
    </nav>
  </header>  -->


  <header>
    <nav class="navbar">
        <!-- <div id="user">
           
            <a class="welcome" href="javascript:void(0)"></a> -->
        <!-- </div> -->
        <!-- <a id="user" class="welcome" href="javascript:void(0)"></a> -->
    <div class='brand-title'>
        <a class="home" href="/">Home</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    </div>
    <div class="navbar-links">
        <ul>
            <li class="user" >
                <span id="welcome">Welcome, </span>
               
            </li>
            <li> <a class="home" id="second-home" routerLink="/">Home</a></li>

            <li><a href="/all-offers" class='all-offers-btn'>All Recipes</a></li>
            <li class="user"><a routerLink="/create">Create Recipes</a></li>
            <li class="user"><a routerLink="/my-offers">My Recipes</a></li>
            <li class="guest"><a routerLink="/login">Login</a></li>
            <li class="guest"><a routerLink="/register">Register</a></li>
            <li class="user"><a class="logout" href="javascript:void(0)">Logout</a></li>
        
        </ul>
    </div>    
    </nav>
</header>