

header {
  position: relative;

}

header h1 {
  display: inline-block;
  background-color: #29303c;
  color: white;
  margin-bottom: auto;
}

header nav {
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;

  margin: 0;
 
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #141719d4;
 
}

.navbar:hover {
  background-color: #141719fa;


  
  
}
.all-offers-btn{
margin-left: 15px;
}
.navbar-links{
  text-decoration: none;
  margin: 0;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  
  align-items: center;
  list-style: none;
}
.navbar-links li{

  list-style: none;
}
.navbar-links a, #welcome{
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}
.brand-title{
  font-size: 1.5rem;
  margin: 0;
  padding: 13px;
  transition: 2s;

}
.home{
  padding: 10px;
  color: white;
  margin: 0;
  text-decoration: none;
}
#second-home{
  display: none;
}

header nav>* {
  float: left;

}



nav a {
  margin: 0 0.5em;
  transition: 1s;
}

nav a:hover {
  cursor: pointer;

  background-color: #8080804f;
  


  
}


.home:hover {
  cursor: pointer;

 
  color: white;

 
  overflow: hidden;
 
  
}
#second-home{
  display: none;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
#welcome{
  font-weight: bold;
 
}

.user,
.guest {
  margin: 0;
  padding: 0;
}

  @media only screen and (max-width: 880px){
    .navbar{
      flex-direction: column;
    }
    .navbar-links ul{
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .navbar-links{
      width: 100%;
          padding: 0px;
       li{
        width: 100%;
        text-align: center;
       }
      }
    }
