
             .auth-heading{
                background: rgba(128, 128, 128, 0.5);
                color: white;
                font-size: 1.5rem;
                text-align: center;
                
            
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: 8px;
              
            
            }
            .auth-page-wrapper{
                background: #000000b0;
            
                border-radius: 20px;
                margin: auto;
                margin-top: 15px;
                width: 96%;
            
                padding-bottom: 6px;
              
            }
            .recipe-wrapper{
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: center;
              flex-direction: row;
             border-radius: 10px;
            
            }
            .no-recipes{
              background: #000000bd;
              margin: auto 0;
              margin-top: 30px;
              margin-bottom: 30px;
              width: 66%;
              height: 200px;
              border: solid grey 2px;
              border-radius: 10px;
              
            }
            
            
            
              .no-recipes>p>a{
                text-decoration: none;
                color:rgb(111, 227, 33)
              }
              .no-recipes-text{
                margin-top: 80px;
                color: white;
                text-align: center;
                font-size: 2em;
              }
              .flex{
                flex-basis: 30%;
              }
              .spinner{
               
              
               height: 5px;
               margin: 0 auto;
            
            }
            