


.not-found-wrapper{
  background: #000000bd;
    margin: auto;
    width: 60%;
    margin-top: 150px;
    height: 340px;
    border: solid grey 2px;
    border-radius: 10px;
}
.not-found{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap
}
.not-found>div {
  font-size: 3.5rem;
  color: white;
  margin-top: 100px;
  margin-right: 10px;
}
.not-found-wrapper>p>a{
  text-decoration: none;
  color:rgb(158, 244, 101)
}
.not-found-text{

  color: white;
  text-align: center;
  font-size: 1.5em;
  
}
.not-found-err{
  font-size: 2.5rem;
  color: white;
  padding: 50px 47px 50px 47px;
  border: 2px solid #861616a3;
  border-radius: 83px;
  background: #861b1bb5;
  margin-bottom: 10px;
  box-shadow: 0px 0px 30px 0px rgb(228, 84, 84);
}
@media only screen and (max-width: 850px){

  .not-found-wrapper{

    width: 85%;
    margin-bottom: 10px;
  }
  
   }
