.details-heading{
    background: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px;
  
    margin-top: 50px;
    margin-bottom: 30px;
}
.details-page-wrapper{
    background: #000000b0;

    border-radius: 20px;
    margin: auto;
    width: 80%;
    // height: 500px;
}
.recipe-title p{
    color: white
}
.img-wrapper{
    display: flex;
    justify-content: center;
}
.img-wrapper img{
    width: 92%;
    border-radius: 10px;
    max-height: 550px
}
.recipe-title {
    margin-left:50px;
    h2{
    
        font-size: 1.5rem;
        color: white;
    }
    .recipe-details{
        display: block;
       
        width: fit-content;
        margin-top: 15px;
        color: #555;
        padding: 7px;
        border-radius: 5px;
        background-color: #3c3c3c;
        border: 1px solid rgba(218, 181, 181, 0.829);
        color: white;
        margin: 10px;
        .bold{
            font-weight: bold;
            color: #abb2b0c7;
            margin-right: 5px;
            margin-bottom: 10px;

        }
    }
}
.recipe-main-details{
    margin-left:50px;
    .recipe-details{
        display: block;
      
        width: fit-content;
        margin-top: 15px;
        color: #555;
        padding: 7px;
        border-radius: 5px;
        background-color: #3c3c3c;
        border: 1px solid rgba(218, 181, 181, 0.829);
        color: white;
        margin: 10px;
        .bold{
            font-weight: bold;
            margin-right: 5px;
            color: #abb2b0c7;
            margin-bottom: 10px;

        }
        
    }

}
.details-spacer{
    padding-bottom: 30px;
}
.button {
    background-color: #685f5f;
    /* padding: 9px; */
    margin-top: auto;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
    transition: 1.5s;
  
        text-decoration: none;
        margin: 5px;
   
}
#edit:hover{
    cursor: pointer;
    background-color: rgb(74, 184, 74);
    transform: scale(1.2);
    box-shadow: 0px 0px 30px 0px rgb(146 204 131);
  
  }
  #delete:hover{
    cursor: pointer;

      background-color: rgb(207, 80, 80);
      box-shadow: 0px 0px 30px 0px rgb(228, 84, 84);
      transform: scale(1.2);
  
  }
