<div *ngIf="!editMode && loadAllRecipes==false" class="details-page-wrapper">
 
    <div class="details-heading" *ngIf="recipe">Details</div>
 
    <div class="img-wrapper" >
      <img *ngIf="recipe.img && recipe.img!=''" src="{{ recipe.img }}" alt="" />
      <img *ngIf="!recipe.img || recipe.img==''" src="../../../../assets/no-image.jpg" alt="" />
    </div>

 <div class="details-info" >
  
  <div class="recipe-title">
    <h2> {{ recipe.recipeName }}</h2>
    <div *ngIf="hasLogged" class="hasUser">
      <div class="buttons" *ngIf="hasOwner">
        <a (click)="onEditMode()"  class="button" id="edit">Edit</a>
        <a (click)="onDelete()"  class="button" id="delete">Delete</a>
      </div>
      <div class="buttons" *ngIf="hasLiked == false && hasOwner == false">
        <a (click)="likeIt()"  class="button" id="edit">Like</a>
        
      </div>
    </div>
  
    <span class="recipe-details" *ngIf="hasLogged && hasOwner==false">
        <span  class="bold">Owner</span>: <a class="ownerInfo" id="owner" routerLink="/info">{{ recipe.ownerUsername }}</a>
    </span>

    <span class="recipe-details" *ngIf="hasLogged == true ">
      <span class="bold">Created</span>: {{ recipe.createdAt |date:'fullDate'}}
        <!-- {{}} -->
    </span>
    <span *ngIf="hasLogged == true " class="recipe-details" [class.liked]="hasLiked==true">
      <span class="bold" >Likes</span>: {{ recipe.likes.length }}
        <!-- {{}} -->
    </span>
  
  </div>
  <div class="recipe-main-details" >
    <p class="recipe-details">
      <span class="bold">Ingredients</span>: {{recipe.ingredients}}
    </p>
    <p class="recipe-details prep">
      <span class="bold">Preparation</span>: {{recipe.preparation}}
        
    </p>
  </div>
 </div>
  

</div>
<div class="edit-wrapper" >
  <div *ngIf="editMode">
    <form #createForm="ngForm" id="create" (ngSubmit)="onSubmit(createForm)">
      <!-- <div class="container"> -->
    
        <h1 class="create-heading">Edit Recipe</h1>
        
         <!-- <div class="error-msg"></div> -->
         
        <label for="recipeName">Recipe title<span class="red-star">*</span></label>
    <!-- TODO Check validations -->
        <ng-container *ngIf="recipeName.touched && recipeName.invalid">
          <div *ngIf="recipeName.errors?.['required']" class="error-msg">
            Recipe title is required!
          </div>
          <div *ngIf="recipeName.errors?.['minlength']" class="error-msg">
            Recipe title must be at least 5 characters long!
          </div>
        </ng-container>
        <!-- [class.error-input]="createForm.controls['recipeName'].touched && createForm.controls['recipeName'].invalid"  -->
        <input  #recipeName="ngModel"  ngModel name="recipeName" required minlength="5" placeholder="Chicken with BBQ Souse" value="{{recipe.recipeName}}"/>
      
    
        <label for="img">Image</label>
        <input
          type="text"
          id="img"
          name="img"
          ngModel
          placeholder="Upload image url here..."
        />
        <!-- Ingredients -->
        <label for="ingredients">Ingredients<span class="red-star">*</span></label>
    
        <ng-container *ngIf="ingredients.touched && ingredients.invalid">
          <div *ngIf="ingredients.errors?.['required']" class="error-msg">
            Ingredients are required!
          </div>
          <div *ngIf="ingredients.errors?.['minlength']" class="error-msg">
           Ingredients must be at least 20 characters long!
          </div>
        </ng-container>
      
            <textarea #ingredients="ngModel"  name="ingredients" ngModel required minlength="20" id="ingredients" placeholder="salt 10g, black peper 15g..."></textarea>
       
            <!-- Preparation -->
        <label for="preparation:">Preparation<span class="red-star">*</span></label>
       
        <ng-container *ngIf="preparation.touched && preparation.invalid">
       
          <div *ngIf="preparation.errors?.['required']" class="error-msg">
            Preparation is required!
          </div>
          <div *ngIf="preparation.errors?.['minlength']" class="error-msg">
            Preparation must be at least 20 characters long!
          </div>
        </ng-container>
    
        <textarea #preparation="ngModel" name="preparation" ngModel required minlength="20" id="preparation" placeholder="1.Wash and cut mashrooms.."></textarea>
    
        <!-- [disabled]="createForm.invalid" -->
        <button [disabled]="createForm.invalid"    type="submit" id="submit-button" class="btn-submit" value="Create">Edit recipe</button>
        <p class="field">
          <!-- <span> -->
          
            <!-- <a @click=${(event) => redirect(event)} href="/register"
              >here</a -->
           <!-- </span -->
          <!-- > -->
        </p>
      <!-- </div> -->
    </form>
  </div>
</div>
<div class="details-spacer"></div>

        